* {
  box-sizing: border-box;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #bbb;
  --primary: rgb(231, 59, 147);
  --secondary: rgb(62, 140, 116);
  --tertiary: rgb(226, 110, 44);

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.85em + 0.5vw);
  line-height: 1.3;

  @media (prefers-color-scheme: dark) {
    --bg: #1e1e1e;
    --fg: #efefef;
    --gray: #444;
  }
}

body {
  margin: 0;
  padding: 1em;
}

main {
  margin: 0 auto;
  max-width: 40em;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

a, button {
  color: var(--primary);

  &:hover, &:focus {
    color: var(--secondary);
  }

  &:active {
    color: var(--tertiary);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0.2em 0.5em;
}

th {
  background: var(--bg);
  padding: 0 0.5em;
  position: sticky;
  text-align: left;
  top: 0;
  z-index: 1;

  /* keep border visible during sticky scroll */
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--fg);
  }
}

tbody tr {
  border-bottom: 1px solid var(--gray);
}

td:first-child {
  background: var(--bg);
  position: sticky;
  left: 0;
  text-align: right;

  /* keep border visible during sticky scroll */
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid var(--fg);
  }
}

td:not(:last-child) {
  border-right: 1px solid var(--gray);
}

code {
  display: block;
  max-width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
